.people {
    display: grid;
    justify-content: center;
    margin-top: 30px;
    gap: 40px 30px;

    @media (min-width: 500px) {
        grid-template-columns: repeat(2, 200px);
    }
    @media (min-width: 750px) {
        grid-template-columns: repeat(2, 200px);
    }
    @media (min-width: 1000px) {
        grid-template-columns: repeat(4, 200px);
    }
    @media (min-width: 1500px) {
        grid-template-columns: repeat(4, 200px);
    }
}
