.person {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__photo {
        position: relative;
    }

    &__photo > img{
        height: 200px;
        width: 200px;
        border-radius: 200px;
        transition: height 1s, width 1s, border-radius 1s, transform 1s;
    }

    &__rank {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        left: 150px;
        bottom: 100px;
        height: 32px;
        width: 32px;
        color: #8B0000;
        background-color: #FFFFFF;
        border-radius: 50%;
    }

    &__extra {
        display: none;
    }

    &:hover {
        content: '';
        background-color: #EEEEEE;
        border-radius: 10px;
        object-fit: cover;
        
        .person__photo > img {
            height: 240px;
            width: 240px;
            border-radius: 60px;
            transition: height 1s, width 1s, border-radius 1s, transform 1s;
        }
    
        .person__extra {
            display: flex;
            align-content: center;
            justify-content: center;
        }
      }
}